GOOGLE_OAUTH_CLIENT_ID=SEU_CLIENT_ID
GOOGLE_OAUTH_CLIENT_SECRET=SEU_CLIENT_SECRET
DATABASE_URL=SUA_DATABASE_URL
APP_URL=https://SEU-APP.up.railway.app
JWT_SECRET=UMA_STRING_LONGA_E_SEGURA
NODE_ENV=production
